* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(
    140deg,
    rgb(148, 190, 204),
    rgb(184, 177, 177),
    rgb(134, 188, 206)
  );
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  align-items: center;
}

.loader {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  animation: animate 1s infinite;
}

@keyframes animate {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

h2 {
  color: black;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
