.card {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(10, 10, 10, 0.5);
  border-radius: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.butt1 button {
  background: transparent;
  border: 2px solid lightblue;
  margin: 10px;
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
}

.start {
  border: none;
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  background: transparent;
  border: 2px solid red;
  border-radius: 5px;
}

.headline h6 {
  opacity: 0.6;
  font-size: small;
  max-width: 200px;
  margin-bottom: 10px;
}

.headline h4 {
  font-size: medium;
  max-width: 200px;
}

.headline {
  text-align: left;
  margin: 5px;
}

.timer {
  font-size: medium;
  margin: 0;
  margin-bottom: 10px;
}
