.butt1 {
  border: none;
  cursor: pointer;
  width: 90%;
  padding: 10px;
  border: 2px solid red;
  margin-bottom: 5px;
  border-radius: 5px;
  background: transparent;
  color: red;
  transition: 0.5s;
  font-size: medium;
}

.butt1:focus {
  outline: none;
}

.butt1:hover {
  transform: scale(0.9);
}

.butt2 {
  border: none;
  cursor: pointer;
  width: 90%;
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  border-radius: 5px;
  background: rgb(95, 171, 196);
  color: white;
  transition: 0.5s;
  font-size: medium;
}

.butt2:focus {
  outline: none;
}

.butt2:hover {
  transform: scale(0.9);
}
