.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(15, 15, 15, 0.5);
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.field {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.field input {
  width: 90%;
  border: 2px solid pink;
  border-radius: 5px;
  height: 25px;
}

.field input:focus {
  outline: none;
}

.but {
  margin: 10px;
  background: transparent;
  border: 2px solid lightblue;
  padding: 10px;
  border-radius: 5px;
}
